<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xs-4">
      <span>Today Menu</span>
    </div>
  </div>
  <div class="row">
    <div class="meal-tile col-md-2 col-xs-12">
      <div class="meal-inner-tile">
        <div class="img-wrap">
          <%= image_tag("meal_1.JPG") %>
        </div>
        <div class="meal-tile-content">
          <div class="details">
            <h2 class="title">Meal 1</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="meal-tile col-md-2 col-xs-12">
      <div class="meal-inner-tile">
        <div class="img-wrap">
          <%= image_tag("meal_2.JPG") %>
        </div>
        <div class="meal-tile-content">
          <div class="details">
            <h2 class="title">Meal 1</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="meal-tile col-md-2 col-xs-12">
      <div class="meal-inner-tile">
        <div class="img-wrap">
          <%= image_tag("meal_3.JPG") %>
        </div>
        <div class="meal-tile-content">
          <div class="details">
            <h2 class="title">Meal 1</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="meal-tile col-md-2 col-xs-12">
      <div class="meal-inner-tile">
        <div class="img-wrap">
          <%= image_tag("meal_1.JPG") %>
        </div>
        <div class="meal-tile-content">
          <div class="details">
            <h2 class="title">Meal 1</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="meal-tile col-md-2 col-xs-12">
      <div class="meal-inner-tile">
        <div class="img-wrap">
          <%= image_tag("meal_1.JPG") %>
        </div>
        <div class="meal-tile-content">
          <div class="details">
            <h2 class="title">Meal 1</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
    <div class="col-md-3 col-xs-4">
      <span>Tomorrow Menu</span>
    </div>
  </div>
  <div class="row">
    <div class="meal-tile col-md-2 col-xs-12">
      <div class="meal-inner-tile">
        <div class="img-wrap">
          <%= image_tag("meal_1.JPG") %>
        </div>
        <div class="meal-tile-content">
          <div class="details">
            <h2 class="title">Meal 1</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="meal-tile col-md-2 col-xs-12">
      <div class="meal-inner-tile">
        <div class="img-wrap">
          <%= image_tag("meal_2.JPG") %>
        </div>
        <div class="meal-tile-content">
          <div class="details">
            <h2 class="title">Meal 1</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="meal-tile col-md-2 col-xs-12">
      <div class="meal-inner-tile">
        <div class="img-wrap">
          <%= image_tag("meal_3.JPG") %>
        </div>
        <div class="meal-tile-content">
          <div class="details">
            <h2 class="title">Meal 1</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="meal-tile col-md-2 col-xs-12">
      <div class="meal-inner-tile">
        <div class="img-wrap">
          <%= image_tag("meal_1.JPG") %>
        </div>
        <div class="meal-tile-content">
          <div class="details">
            <h2 class="title">Meal 1</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="meal-tile col-md-2 col-xs-12">
      <div class="meal-inner-tile">
        <div class="img-wrap">
          <%= image_tag("meal_1.JPG") %>
        </div>
        <div class="meal-tile-content">
          <div class="details">
            <h2 class="title">Meal 1</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
