<%= form_for current_user, url: users_join_table_path, method: :put do |f| %>
  <div class="field">
    <%= f.label :table %>
    <%= f.select :table_id, @tables.all.collect { |t| [t.name, t.id] } %>
  </div>
  <div>
    <div id="spinner" class="spinner" style="display:none;">
      <%= image_tag("spinner.gif") %>
    </div>
    <div id="table-detail">
    </div>
  </div>
  <%= f.submit 'Join', class: "btn btn-primary", disabled: !current_user.table_id.nil? %>
<% end %>
