<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <label class="col-sm-3 control-label">Avatar</label>
    <div class="col-sm-9">
      <img id="img_prev" src="<%= @user.avatar.url('thumb') %>" alt="your image" />
      <span class="btn btn-primary btn-file">
        Browse <%= f.file_field :avatar, :onchange => "readUrl(this)" %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :first_name, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :first_name, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :last_name, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.email_field :email, autofocus: true, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <input style="display:none">
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
