<div class="panel-flat">
  <div class="header">
    <h3>Comments</h3>
  </div>
  <div class="content">
      <div class="row">
      <%= link_to 'New Comment', new_comment_path, class: "btn btn-primary" %>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Comment</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>

          <tbody>
            <% @comments.each do |comment| %>
              <tr>
                <td><%= comment.title %></td>
                <td><%= comment.comment %></td>
                <td><%= link_to 'Show', comment %></td>
                <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <%= paginate @comments %>
    </div>
  </div>
</div>