<div class="panel-flat">
  <div class="header">
    <h3><%= @meal_log.new_record? ? "Create Meal Log" : "Update Meal Log" %></h3>
  </div>
  <div class="content form-horizontal">
    <%= error_messages @meal_log %>
    <div class="form-group">
      <%= label_tag :meal_id, 'Meal', class: "col-sm-3 control-label" %>
      <div class="col-sm-6">
        <%= select_tag :meal_id, options_from_collection_for_select(@meals, "id", "meal_date") %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :menu_id, 'Menu', class: "col-sm-3 control-label" %>
      <div class="col-sm-6">
        <%= select_tag :menu_id, options_from_collection_for_select(@menus, "id", "name") %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag 'shifts-list', "Select Shift", class: "col-sm-3 control-label" %>
      <div id="shifts-list" class="col-sm-9 btn-group btn-group-sm" role="group" aria-label="Shifts" data-toggle="buttons">
        <% @shifts.each do |shift| %>
          <label class="btn btn-success" onclick="listTablesOfShift(this)" id="<%= "shift_#{shift.id}"%>" data-shift="<%= shift.id %>">
            <input type="radio" name="shifts" />
            <%= shift.name %>
          </label>
        <% end %>
      </div>
    </div>
    <div id="table-group" class="form-group"></div>
    <div id="table-detail" class="form-group" data-pjax-container></div>
  </div>
</div>
