<div class="panel-flat">
  <div class="header">
    <h3><%= @shift.new_record? ? "Create Shift" : "Update Shift" %></h3>
  </div>
  <div class="content">
    <%= form_for(@shift, html: {class: 'form-horizontal'}) do |f| %>
      <%= error_messages(@shift) %>
      <div class="form-group">
        <%= f.label :name, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :description, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :start_time, class: "col-sm-3 control-label" %>
        <div class="col-sm-3">
          <div class='input-group date' id='dp_start_time'>
            <%= f.text_field :start_time, value: @shift.start_time.nil? ? '' : @shift.start_time.strftime('%I:%M %p'), class: "form-control" %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :end_time, class: "col-sm-3 control-label" %>
        <div class="col-sm-3">
          <div class='input-group date' id='dp_end_time'>
            <%= f.text_field :end_time, value: @shift.end_time.nil? ? '' : @shift.end_time.strftime('%I:%M %p'), class: "form-control" %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <% if @shift.new_record? %>
            <%= f.submit "Create", class: "btn btn-success" %>
          <% else %>
            <%= f.submit "Update", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(function () {
      $('#dp_start_time').datetimepicker({
        format: 'LT'
      });
      $('#dp_end_time').datetimepicker({
        format: 'LT'
      });
  });
</script>
