<%= form_for(@shift, html: {class: 'panel panel-primary form-horizontal'}) do |f| %>
  <div class="panel-heading">
    <span class="panel-title">Create Shift</span>
  </div>
  <div class="panel-body">
    <% if @shift.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

        <ul>
        <% @shift.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :start_time, class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <div class='input-group date' id='dp_start_time'>
          <%= f.text_field :start_time, value: @shift.start_time.nil? ? '' : @shift.start_time.strftime('%I:%M %p'), class: "form-control" %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :end_time, class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <div class='input-group date' id='dp_end_time'>
          <%= f.text_field :end_time, value: @shift.end_time.nil? ? '' : @shift.end_time.strftime('%I:%M %p'), class: "form-control" %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer text-right">
    <%= f.submit 'Create', class: "btn btn-primary" %>
  </div>
<% end %>
<script type="text/javascript">
  $(function () {
      $('#dp_start_time').datetimepicker({
        format: 'LT'
      });
      $('#dp_end_time').datetimepicker({
        format: 'LT'
      });
  });
</script>
