<p id="notice"><%= notice %></p>

<div class="table-primary">
  <div class="table-header">
    <div class="table-caption">
      Meals
    </div>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Meal type</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @meals.each do |meal| %>
        <tr>
          <td><%= image_tag meal.pictures[0].nil? ? '' : meal.pictures[0].image.url, class: "img-thumbnail", style: "width: 100px; height: 100px;"%></td>
          <td><%= meal.name %></td>
          <td><%= meal.description %></td>
          <td><%= meal.rating %></td>
          <td><%= meal.meal_type_id %></td>
          <td><%= link_to 'Show', meal %></td>
          <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
          <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Meal', new_meal_path %>
