<%= form_for(@table) do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% @table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :seats %><br>
    <%= f.number_field :seats %>
  </div>
  <div class="field">
    <%= f.label :shift %><br>
    <%= f.select :shift_id, @table.shifts.all.collect {|s| [ s.name, s.id ] } %>
  </div>
  <div class="field">
    <%= f.label :available_seats %><br>
    <%= f.number_field :available_seats %>
  </div>
  <div class="field">
    <%= f.label :for_vegans %>
    <%= f.check_box :for_vegans %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
