<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="toplink hidden-xs col-xs-12">
      <div class="col-xs-4">
        <p><em class="glyphicon glyphicon-earphone"></em> Call +84 935 207 786</p>   
      </div>
      <div class="links pull-right">        
      </div>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to '', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "About", root_path %></li>
        <li><%= link_to "News", root_path %></li>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li><%= link_to "Shifts", shifts_path %></li>
            <li><%= link_to "Meals", meals_path %></li>
            <li><%= link_to "Tables", tables_path %></li>
            <li><%= link_to 'Users', edit_user_registration_path %></li>
          <% end %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>
