<!DOCTYPE html>
<html>
<head>
  <title>ELunch</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <div id="wrap">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="container">
      <div id="spinner" class="spinner fade">
        <%= image_tag("spinner.gif") %>
      </div>
      <%= render 'layouts/messages' %>
      <%= yield %>  
    </div>
    <div id="push"></div>
  </div>
  <div id="footer">
    <div class="container">
      <p>&copy; ELunch, 2015</p>
    </div>
  </div>
</body>
</html>
